<footer class="mt-5">
		<div class="container-fluid pl-5 pr-5">
			<div class="row">
				<div class="col-sm-12">
					<hr style="border-top:8px solid #7ca2f0;">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 tcenter">
					<h4 class="loc">LOCATIONS</h4>
					<p><a href="contact.php">Gurgaon</a><br>
						<a href="contact.php">Mumbai</a><br>
						<a href="contact.php">Bengaluru</a><br>
						<a href="contact.php">Kolkata</a><br>
						<a href="contact.php">Ahmedabad</a><br>
						<a href="contact.php">Ludhiana</a><br>
						<a href="contact.php">Singapore</a>
					</p>
					<!-- <p style="padding-top: 0px;"><span class="toll">Toll Free: <a href="tel:18001200246">18001200246</a></span></p> -->
					<p><span class="toll">Email Us: <a href="mailto:contact@icubeswire.com" rel="keep-params"> contact@icubeswire.com</a></span></p>
				</div>
				<div class="col-sm-3 pdl50 tcenter">
					<h4 class="loc">QUICK LINKS</h4>
					<ul>
						<li><a href="performance-marketing-overview.php">Performance</a></li>
						<li><a href="agency.php">Agency</a></li>
						<li><a href="technology.php">Technology</a></li>
						<li><a href="testimonials.php">Testimonials</a></li>
						<li><a href="contact.php">Contact</a></li>
						<li><a href="career.php">Career</a></li>
<!-- 						<li><a href="https://www.icubeswire.com/publications/">Publications</a></li>
-->					</ul>
</div>
<div class="col-sm-5">
	<div class="row">
		<div class="col-sm-12">
			<form class="subscribe" action="send.php" id="subscribeForm" method="post">
				<label class="loc">SUBSCRIBE TO OUR NEWSLETTER</label>
				<div class="row">
					<div class="col-md-8 mt-3">
                  <input type="email" id="email" name="subscribe" value="" placeholder="email address" required="">
				</div>
				<div class="col-md-4">
					<button class="g-recaptcha">SUBSCRIBE</button>
                 </div>		
				</div>		
				
				 
			
				<br><br>
				<p id="result"></p>
			</form>
		</div>
		<div class="col-sm-12 z9">
			<ul class="sicons">
				<li><a href="https://www.facebook.com/icubeswire" ><span class="fa fa-facebook"></span></a>
				</li>
				<li><a href="https://twitter.com/icubes_wire" class="fa fa-twitter"></a>
				</li>
				<li><a href="https://www.linkedin.com/company/icubeswire" class="fa fa-linkedin"></a>
				</li>
				<li><a href="https://www.instagram.com/icubeswire/" class="fa fa-instagram"></a>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>
</div>
</footer>